<footer id="dk-footer" class="dk-footer">

    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">

                <div>
                    <h5 style="color: white;">About Us</h5>
                </div>

                <div style="line-height: 10px; padding-top: 14px;">
                    <p>About us</p>
                    <p>FAQ's</p>
                    <p>Terms & conditions</p>
                    <p>Privacy Policy</p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">

                <div>
                    <h5 style="color: white;">Contact Us</h5>
                </div>

                <div style="line-height: 10px; padding-top: 14px;">
                    <p>+ 978 89879 77777</p>
                    <p>supportNew@gmail.com</p>
                    <p>What's app us</p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <h5 style="color: white;">Newsletter</h5>
                <input type="button" class="px-3 py-1"
                    style="background-color: black;color: white;border: 1px solid white;font-size: 10px;"
                    value="Sign Up Now"><br>
                <input type="text" class="px-3 py-1"
                    style="background-color: white;color: black;width: 90px; border: 1px solid white;font-size: 10px;"
                    placeholder="Your email">
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <h5 style="color: white;">Follow Us</h5>
                <img src="../../../assets/instagram.png" width="32px" alt="" srcset="">

                <img src="../../../assets/facebook.png"
                    width="40px" alt="" srcset="">
            </div>

        </div>

    </div>

    <div class="copyright">

        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <span>Copyright © 2022, All Right Reserved</span>
                </div>

                <div class="col-md-6">

                    <div class="copyright-menu">
                        <img src="../../../assets/visa.png" width="40px" alt="" srcset="">
                        <img class="ml-2" src="../../../assets/mastercard.png" width="40px" alt="" srcset="">
                    </div>

                </div>

            </div>

        </div>

    </div>
    
</footer>